




header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}




body {
    background-color: lightblue;
}

h1 {
    color: darkcyan;
}

p {
    font-size: x-large;
}

